input {
  background-color: cyan;
  color: blue;
}

div input {
  background-color: yellow;
  color: green;
}

@keyframes animar {
  from {
    background-color: yellow;
    color: blue;
    width: 50px;
  }
  to {
    background-color: blue;
    color: yellow;
    width: 400px;
  }
}

input[type="submit"] {
  animation-name: animar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
